@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  background: rgba(243, 243, 227, 1);
}
.containerOne {
  background: #fc6c4c;
}
.fullRange {
  background: #fc6c4c;
}
.numberOne {
  color: white;
  text-align: center;
  position: absolute;
  top: .3rem;
  left: .8rem;
}

.summit {
  background-color: #fc6c4c;
}

.imageBackground {
  background-color: #fc6c4c;
}

.go-back {
  border: 1px solid #fc6c4c;
  color:#fc6c4c
}
.none{
  display: none;
}

.show {
  display: block;
}

.radioBorder {
  border: 2px solid #fc6c4c;
}