@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  background: rgba(243, 243, 227, 1);
}

.containerOne {
  width: 34px;
  height: 34px;
  margin-top: 32px;
  margin-left: 48px;
  position: relative;
  background: rgba(252, 108, 76, 1);
}

.numberOne {
  color: white;
  text-align: center;
  position: absolute;
  top: .3rem;
  left: .8rem;
}
